.row {
  padding: 10px;
  margin: 10px 50px;
  background-color: #0E1931;
}

.rowMobile {
  padding: 5px;
  margin: 10px 10px;
  background-color: #0E1931;
}

.accordion {
  --bs-accordion-active-color: black;
  --bs-accordion-color: black;
  --bs-accordion-btn-bg: #132241;
  --bs-accordion-btn-color: white;
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
  margin-top: 20px;
}

.noData {
  background-color: #0A1224;
  margin-top: 20px;
  border-radius: 10px;
  padding: 25px;
}