.banner {
  width: auto;
  height: 600px;
  background-position: center;
  background-size: cover;
  content: "s";
}

.buttonUp {
  background-color: yellow;
  color: black;
  font-weight: 700;
  padding: 0 15px;
  border-radius: 20px;
}

.buttonUp:hover {
  scale: 1.1;
  transition: scale .1s ease-in-out;
}